[runner]
# How many iterations to complete for aborting.
iteration_limit = 30
# Maximum number of nodes the e-graph can have before aborting.
node_limit = 10_000
timeout_ms = 5000

[scheduler]
disabled = true
# How many iterations to ban a rule for.
ban_length = 5
# How many times a rule needs to be matched before it is banned.
match_limit = 1000

[cost]
operator_weight = 1
number_weight = 1.0
variable_weight = 1.0
# max_depth = 20

[logging]
# disabled = true
# Which log messages to subscribe to.
trace_rules = ["trace", "debug", "info"]

[[rule]]
name = "id"
lhs = "X + 0"
rhs = "X"
# Prevents this rule from being banned.
protected = true

[[rule]]
name = "comm-add"
lhs = "X + Y"
rhs = "Y + X"
# Means this rule can be used in both directions.
bidirectional = true

[[rule]]
name = "assoc"
lhs = "(X + Y) + Z"
rhs = "X + (Y + Z)"
bidirectional = true
disabled = true

[[rule]]
name = "div-def"
lhs = "X / Y"
rhs = "X * (1 / Y)"
bidirectional = true
# List of conditions that must be satisfied before this rule can be applied.
conditions = ["Y != 0"]
