iter-limit = 30
node-limit = 10_000
timeout = 5.0
rule-ban-length = 5
rule-match-limit = 1000
num-threads = 1
logging = "trace"
folding = true

[[strategy]]
name = "simple"
optimize = "size"
operator-weight = 1.0
number-weight = 1.0
variable-weight = 1.0

[[rule]]
name = "comm-add"
lhs = "A + B"
rhs = "B + A"

[[rule]]
name = "comm-mul"
lhs = "A * B"
rhs = "B * A"

[[rule]]
name = "assoc-add"
lhs = "(A + B) + C"
rhs = "A + (B + C)"

[[rule]]
name = "assoc-mul"
lhs = "(A * B) + C"
rhs = "A * (B + C)"

[[rule]]
name = "sub-canon"
lhs = "A - B"
rhs = "A + (-1 * B)"

[[rule]]
name = "div-canon"
lhs = "A / B"
rhs = "A * (B ^ -1)"

[[rule]]
name = "zero-add"
lhs = "A + 0"
rhs = "A"

[[rule]]
name = "zero-mul"
lhs = "A * 0"
rhs = "0"

[[rule]]
name = "one-mul"
lhs = "A * 1"
rhs = "A"

[[rule]]
name = "add-zero"
lhs = "A"
rhs = "A + 0"

[[rule]]
name = "mul-one"
lhs = "A"
rhs = "A * 1"

[[rule]]
name = "cancel-sub"
lhs = "A - A"
rhs = "0"

[[rule]]
name = "cancel-div"
lhs = "A / A"
rhs = "1"

[[rule]]
name = "distribute"
lhs = "A * (B + C)"
rhs = "(A * B) + (A * C)"

[[rule]]
name = "factor"
lhs = "(A * B) + (A * C)"
rhs = "A * (B + C)"

[[rule]]
name = "pow-mul"
lhs = "A ^ B * A ^ C"
rhs = "A ^ (B + C)"

[[rule]]
name = "pow-zero"
lhs = "X ^ 0"
rhs = "1"

[[rule]]
name = "pow-one"
lhs = "X ^ 1"
rhs = "X"

[[rule]]
name = "pow-two"
lhs = "X ^ 2"
rhs = "X * X"

[[rule]]
name = "pow-recip"
lhs = "X ^ -1"
rhs = "1 / X"

[[rule]]
name = "recip-mul-div"
lhs = "X * (1 / X)"
rhs = "1"
